<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
    <!--<add key="AzureBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bptagent01;AccountKey=bEs93tNCw+CTAI9K76akrHXJooogWJuJeSw7ielja+cDozPdbb+RejclJ/q76qkBHaE7N9iTvg9Z+AStdW+Iqg==;EndpointSuffix=core.windows.net" />-->
	<add key="AzureBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=stlimsdevfiles;AccountKey=z0Ccz5eat/ozwQ/DwGMIxtoBid2l1ByAGz/V6eZ2Rq7xYrhF03IFYNmTxUhO9wZia/LheCGarGfOtgnXcSzVFg==;EndpointSuffix=core.windows.net" />
    <add key="BlockSizeForBlockBlob" value="10" />
<add key="SharepointOnlineUserName" value="sharepoint@eurofinsbpt.com" />
<add key="SharepointOnlinePassword" value="eLIMSBPT-2015" />
<add key="SharepointOnPremUserName" value="IN01_SVC_eLIMSBPT" />
<add key="SharepointOnPremPassword" value="n941CF5kFye9w2crDKL" />
<add key="SharepointOnPremDomain" value="ES-AREA1" />
<add key="StartDate" value="12/01/2021" />
<add key="EndDate" value="12/03/2021" />
<add key="BatchSize" value="10" />
<add key="DBConnectionString" value= "data source=in01lap80708;initial catalog=CarbonQA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" />
<!--<add key="DBConnectionString" value= "" />-->
  </appSettings>
<!--<connectionStrings>
        <add name="CarbonQA" connectionString="data source=IN01APVD014\Carbon;initial catalog=CarbonQA;User ID=eLIMS-BPT;Password=ELIMSBPT2015;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>-->
</configuration>