<mat-card class="card-section" *ngIf="!loginDisplay">
  <mat-card-title>Agenda</mat-card-title>
  <mat-card-subtitle> POC to demonstrate ADB2C Local and Social Account - Angular single-page application built with MSAL Angular</mat-card-subtitle>
  <mat-card-content>
    <ul>
      <li>Sign Up to ADB2C Local Account</li>
      <li>Sign In to ADB2C Local Account</li>
      <li>Sign Out from ADB2C Local Account</li>
      <li>Password reset - ADB2C</li>
      <li>Social Account - Google Authentication</li>
      <li>Social Account - Facebook Authentication</li>
      <li>Multi Factor Authentication - Email</li>
      <li>Conditional Access</li>
      <li>Custom Branding</li>
      <li>Acquire an access token for a protected web API</li>
    </ul>
  </mat-card-content>
</mat-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="loginDisplay">

  <!-- Claim Column -->
  <ng-container matColumnDef="claim">
    <th mat-header-cell *matHeaderCellDef> <h2>Claim </h2></th>
    <td mat-cell *matCellDef="let element"> {{element.claim}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> <h2>Value</h2> </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
