<mat-card class='card-section'>
    <div>
        <h1>Edit a Volunteer</h1>
        <hr>
        <br>
    </div>
    <form #edit="ngForm" (ngSubmit)="editVolunteer(edit.value)">
        <mat-form-field appearance="fill" class="form-field">
                <input matInput type="text" name="description" placeholder="task" class="input-field" [(ngModel)]="Volunteer.description">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" value="submit" class="submit-button">Edit</button>
    </form>
</mat-card>
